/* UNIVERSAL STYLE SELECTOR */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: "Lato", sans-serif;
    font-style: normal;
}

/* UTILITY CLASS SELECTOR */
html{
    background-image: url('23964.jpg');
    background-size: cover;
    background-position: center;
      /* background-repeat: no-repeat;  */
    height: 100vh;
    /* display:flex;
    flex-direction: column;
      justify-content:space-evenly;
      align-items:center; */
    animation: myAnim 2s ease 0s 1 normal forwards;
    scroll-behavior: smooth;
    

}

@keyframes myAnim {
    0% {
        opacity: 0;
        traznsform: translateX(-50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.header .heading {
    -webkit-background-clip: text;
    background-clip: text;
    background-color: purple;
    font-size: 2em;
    color: white;
    text-transform: uppercase;
    -webkit-text-fill-color: transparent;


}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    


}

.header ul {
    display: flex;
    gap: 4rem;
    text-transform: uppercase;
    
   flex-wrap:wrap; 



}

.header ul li {
    list-style-type: none;
    padding: 20px;
    border-radius: 6px;
    border: none;
    margin:2.5em;

}


.header ul li a {
    text-underline-offset: none;
    text-decoration: none;


    /* color:white; */
}

.header ul li:hover {
    
    background-color: purple;
    border-radius:5px;
    cursor: pointer;

}
/* THE MAIN PART OF THE WEBPAGE */
.main,.project-style{
    width: 100%;
    height: 50vh;
    margin: 9em auto;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: -3px 28px 39px -21px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -3px 28px 39px -21px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -3px 28px 39px -21px rgba(0, 0, 0, 0.75);
}

 h2 {
    font-size: 2.5rem;
    text-transform: capitalize;
    color: purple;
    margin: auto 3.5em;

}

.font-end {
    max-width: 100%;
    height: 50vh;
    margin: 4em auto;
    box-shadow: 2px;
    box-shadow: -3px 28px 39px -21px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -3px 28px 39px -21px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -3px 28px 39px -21px rgba(0, 0, 0, 0.75);
}

.font-end-style {
    margin: auto 5em;
    text-transform: uppercase;
}

.about .font-end p, .projects .project-style p {
    font-size: 2.5rem;
    margin:auto 2.5em;
    font-weight: 300;
    flex-wrap:wrap;
    

}

.contact .contact-style{
    background:black;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
     width:100%;
    height:80vh;
    margin:5em auto;
    box-shadow:2px;
    box-shadow: -3px 28px 39px -21px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -3px 28px 39px -21px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -3px 28px 39px -21px rgba(0, 0, 0, 0.75);

}

button{
    color:white;
    border:none;
    padding:1.5em;
    background-color:purple;
    display:block;
    border-radius:5px;


}
textarea{
    background-color:grey;
    width:50vh;
    height:30vh;
    margin:10px auto;

}
textarea::placeholder{
    text-transform:capitalize;
    color:white;
    padding:5px;
}
p{
   display:inline-block;
   
} 
 .hor-style{
   display:flex;
   flex-direction:row; 
   padding:3em;
   
   
}
    

.hor-style hr{
    width:20em;
    height:2px;
    border:1px solid grey;
    margin:8px;

}
.social-media{
    display:flex;
    gap:2em;
}
.hamburger{
    width:30px;
    height:5px;
    background-color:grey;
    margin:3px;
    border-radius:5px;
    display:none;
   
}
.fa-brands{
    font-size:2em;
}
/*  @media  (min-width:300px) and (max-width:500px){
    body{
        
        

    }
 .hamburger{
    display:block;
    

 }
 .header ul{
    display:none;
 }
 .header{
    display:flex;
    gap:2em;
    flex-wrap:wrap;
    flex-grow:1;
    
    width:min(100vw,90%);
    justify-content:space-around;
    align-items:center;
    
}
.main,.project-style{
    width:100%;
    
}
.header .heading{
    font-size:1.2rem;
}
.hamburger-style{
    margin-left:10em;
    
}
    
}